python_files/tania/
testingnotebooks/
testing.py
numerico/test.ipynb
python_files/tania/
testingnotebooks/
testing.py
python_files/numerico/test.ipynb
python_files/menu
python_files/accounting/testing.ipynb
.vscode
cpp/**/*.exe
java/**/*.class
python_files/**/__pycache__
python_files/**/*.wav