body{
    background-color: rgb(31, 31, 31);
    padding: 5%;
    
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
    color: white;
}

.label_and_input{
    margin: 50px 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    align-items: center;
}

.item{
    text-align: center;
    padding: 10px;
}

.shadow{
    width: 100px;
    height: 200px;
    margin: 0px auto;
    background-color: gray;
    box-shadow: 50px 50px 50px 10px #000;

}